/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
 body {
  margin: 0; /* Reset default margin */
  overflow: hidden; /* Hide scrollbars */
}

.app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw; /* Take full viewport width */
  height: 100vh; /* Take full viewport height */
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: sans-serif;
  overflow-y: hidden;
}

.homeScreen{
  width: 100vh;
  height: 100vh;
}

.header{
  margin-left:27%;
  width: 100%;
}

.loginButton:hover,
.loginButton:focus {
  text-decoration: none;
}