/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
 html, body {
  width: 100%;
  height: 1200px;
  margin: 0;
  padding: 0;
}

.app {
  padding: 5%;
  width: 900px; /* Take full viewport width */
  height: 1200px; /* Take full viewport height */
  background-color: black;
  color: white;
  font-family: sans-serif;

}
.userProfilePage{
  margin-top: 5%;
}
.profileHeader{
  display: flex;
  gap:2%;
}
.profileImage{
  width: 150px;
  height: 150px;
  border-radius: 100%;
}
.profileInsights{
  height: 200px;
  margin-top: 5%;
}
.playlistInsights{
  height: 500px;
  margin-top: 5%;
}
.topPlaylists{
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.playlistImage,.artistImage{
  height: 65%;
  width: 70%;
}
.artistImage{
  border-radius: 100%;
}
.playlistInsights{
  margin-top: 7%;
}