/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background: lightgray;
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  align-items: center;
}

.loading-dot {
  width: 10px;
  height: 10px;
  background-color: #3498db; /* Adjust color as needed */
  border-radius: 50%;
  animation: pulsate 1s ease-in-out infinite;
  margin-left: 10px; /* Adjust spacing as needed */
}

@keyframes pulsate {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}

.Title{
  color: black;
}
.loginForm{
  margin-top: 15%;
}